<!-- ModalDialog component HTML -->
<transition name="modal-fade">
    <div class="modal-backdrop">
        <div class="modal">
        <header class="modal-header">
            <slot name="header">Default title</slot>
            <button type="button" class="btn-close" @click="$emit('close')">x</button>
        </header>

        <section class="modal-body">
            <slot name="body"></slot>
        </section>

        <footer class="modal-footer">
            <slot name="footer"></slot>
            <button type="button" class="btn-green" @click="$emit('close')">Close</button>
        </footer>
        </div>
    </div>
</transition>
        